# 숫자형

숫자 형태로 이루어진 자료형

## 정수형

정수를 뜻하는 자료형

In [1]:
a = 123

print(a)

123

In [4]:
a = -178
print(a)

-178

In [5]:
a = 0
print(a)

0

## 실수형

소수점이 포함된 숫자

In [6]:
a = 1.2
print(a)

1.2

In [7]:
a = -3.45
print(a)

-3.45

### 컴퓨터식 지수 표현 방식
 
 파이썬에서는 4.24e10 또는 4.24E10처럼 표현한다 (e와 E 둘 중 어느 것을 사용해도 무방하다)
 
 -> 여기서 4.24E10은 4.24*10의 10제곱, 4.24* 10의 -10제곱을 의미

In [10]:
a = 4.24e10
print(a)

42400000000.0

In [11]:
a= 4.24e1
print(a)

42.4

## 8진수와 16진수

만들기 위해서는

### 8진수 

0o 또는 0O(숫자 0 + 알파벳 소문자 o 또는 대문자 O)로 시작하면 된다

-> 숫자 0부터 7까지 사용 (총 8개)

In [20]:
a = 0o7
print(a)

7

In [16]:
a = 0o10
print(a)

8

### 16진수

0x로 시작하면 된다

-> 숫자 0부터 F까지 사용 (총 16개)

In [21]:
a = 0xA
print(a)

10

In [23]:
a = 0xB
print(a)

11

## 숫자형을 활용하기 위한 연산자

### 사칙연산

+,  -,  *,  /

In [25]:
a = 2
b = 8

print(a+b)
print(a-b)
print(a*b)
print(a/b)

10
-6
16
0.25

### ** 연산자

x ** y처럼 사용했을 때 x의 y제곱을 리턴한다

In [26]:
a = 2
b = 4
print(a**b)

16

### % 연산자

나눗셈의 나머지 값을 리턴하는 연산자이다

In [28]:
print(4 % 2)

0

### / 연산자

/ 연산자를 사용하면 나눗셈한 값을 그대로 리턴한다(소수점까지 나옴)

In [31]:
print(8 / 5)

1.6

### // 연산자

// 연산자를 사용하면 나눗셈한 값에서 정수값만 리턴한다

In [33]:
print(8 // 5)

1